parameters:
    reportUnmatchedIgnoredErrors: false
    excludePaths:
        - ../../craftcms/cms/src/test/internal/*
        - ../../craftcms/cms/src/config/composer-classes.php?
        - ../../craftcms/cms/src/config/mimeTypes.php
        - ../../craftcms/cms/src/views/debug/*
    scanFiles:
        - ../../craftcms/cms/src/Craft.php
        - ../../yiisoft/yii2/Yii.php
        - ../../twig/twig/src/Extension/CoreExtension.php
    stubFiles:
        - stubs/BaseYii.stub
        - stubs/elements/conditions/ElementConditionRuleInterface.stub
        - stubs/console/Application.stub
        - stubs/web/Application.stub
    earlyTerminatingMethodCalls:
        Craft:
            - dd
        yii\base\Application:
            - end
        yii\base\ErrorHandler:
            - convertExceptionToError
    ignoreErrors:
        - '#^Parameter \#3 \$with of method craft\\services\\Elements\:\:eagerLoadElements\(\) expects array\<int, craft\\elements\\db\\EagerLoadPlan\|string\>\|string, array\<int, list\<array\<string, list\<string\>\>\|string\>\|string\> given\.$#'
services:
    - class: MarcusGaius\PHPStan\Reflection\CraftCMS\Query\AddressQueryCustomFieldReturnTypeExtension
      tags: [phpstan.broker.dynamicMethodReturnTypeExtension]
    - class: MarcusGaius\PHPStan\Reflection\CraftCMS\Query\AssetQueryCustomFieldReturnTypeExtension
      tags: [phpstan.broker.dynamicMethodReturnTypeExtension]
    - class: MarcusGaius\PHPStan\Reflection\CraftCMS\Query\CategoryQueryCustomFieldReturnTypeExtension
      tags: [phpstan.broker.dynamicMethodReturnTypeExtension]
    - class: MarcusGaius\PHPStan\Reflection\CraftCMS\Query\EntryQueryCustomFieldReturnTypeExtension
      tags: [phpstan.broker.dynamicMethodReturnTypeExtension]
    - class: MarcusGaius\PHPStan\Reflection\CraftCMS\Query\GlobalSetQueryCustomFieldReturnTypeExtension
      tags: [phpstan.broker.dynamicMethodReturnTypeExtension]
    - class: MarcusGaius\PHPStan\Reflection\CraftCMS\Query\ElementQueryCustomFieldReturnTypeExtension
      tags: [phpstan.broker.dynamicMethodReturnTypeExtension]
    - class: MarcusGaius\PHPStan\Reflection\CraftCMS\EagerLoadElements
      tags: [phpstan.phpDoc.typeNodeResolverExtension]
#    - class: MarcusGaius\PHPStan\Reflection\Mixin\CustomFieldMixinExtension
#      tags: [phpstan.broker.methodsClassReflectionExtension]